{% load static i18n %}
{% load bootstrap5 %}
<!-- Topbar Start -->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Gestor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Carga
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'horario:variables-create' %}">   Variables Iniciales</a></li>
                        <li><a class="dropdown-item" href="{% url 'horario:salones-create' %}">     Salones</a></li>
                        <li><a class="dropdown-item" href="{% url 'horario:profesores-create' %}">  Profesores</a></li>
                        <li><a class="dropdown-item" href="{% url 'horario:carreras-create' %}">    Carreras</a></li>
                        <li><a class="dropdown-item" href="{% url 'horario:materias-create' %}">    Materias</a></li>
                        <li><a class="dropdown-item" href="{% url 'horario:asignaciones-create' %}">Asignaciones</a></li>
                        <li><a class="dropdown-item" href="{% url 'horario:generar' %}">            Generar</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'horario:preview' %}">            Preview</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- end Topbar -->

        