{% extends "layouts/_layout_project.html" %}
{% load static i18n %}
{% load tags %}

{% block title %} Horario :: Index{% endblock title %}

{% block content %}

<div class="container-fluid" style="min-height: 90vh !important;">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="content" style="background:#ffffff;">
                    <!-- Main content -->
                    <div class="content" style="margin-bottom: 10em">
                        <div style="margin-top: 0vh; margin-bottom: 0vh; margin-right: 2vw; margin-left: 2vw;">
                            <div class="row" style="padding-top: 5em; display: flex; align-items: center;">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="card rounded2 p-shadow-sm" style="overflow: auto;">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <a href="{% url 'horario:preview' version=prev_version %}" class="btn btn-primary {% if prev_version < 1 %}disabled{% endif %}" style="border-radius:25px">
                                                <span class="material-icons">
                                                    keyboard_arrow_left
                                                </span>
                                            </a>
                                            <div class="text-center mb-2">
                                                <h2>Horario de Clases</h2>
                                            </div>
                                            <a href="{% url 'horario:preview' version=next_version %}" class="btn btn-primary" style="border-radius:25px">
                                                <span class="material-icons">
                                                    keyboard_arrow_right
                                                </span>
                                            </a>
                                        </div>

                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Periodo/Salon</th>
                                                    {% for salon in salones %}
                                                        <th scope="col">{{ salon.nombre }} ({{salon.capacidad}})</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for periodo in periodos %}
                                                <tr>
                                                    <th scope="row">{{ periodo.hora_inicio }} - {{ periodo.hora_fin }}</th>
                                                    {% for salon in salones %}
                                                        {% with asignacion=asignaciones_dict|get_item:periodo|get_item:salon %}
                                                            <td style="text-align: center;">
                                                                {% if asignacion %}
                                                                    <span class="badge {{ asignacion.style }}" style="font-size: 0.7em; text-align:left">
                                                                        <div class="row">
                                                                            <div class="col-2">
                                                                                <span class="material-symbols-outlined">
                                                                                    account_circle
                                                                                </span>
                                                                            </div>
                                                                            <div class="col-8 mt-1">
                                                                                Profesor: {{ asignacion.profesor }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-2">
                                                                                <span class="material-symbols-outlined">
                                                                                    import_contacts
                                                                                </span>
                                                                            </div>
                                                                            <div class="col-8 mt-1">
                                                                                Materia: {{ asignacion.materia }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-2">
                                                                                <span class="material-symbols-outlined">
                                                                                    school
                                                                                </span>
                                                                            </div>
                                                                            <div class="col-8 mt-1">
                                                                                Carrera: {{ asignacion.carrera }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-2">
                                                                                <span class="material-symbols-outlined">
                                                                                    group
                                                                                </span>
                                                                            </div>
                                                                            <div class="col-8 mt-1">
                                                                                Asignados: {{ asignacion.asignados }}
                                                                            </div>
                                                                        </div>
                                                                    </span>
                                                                {% endif %}
                                                            </td>
                                                        {% endwith %}
                                                    {% endfor %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div><!-- /.container-fluid -->
                    </div>
                    <!-- /.content -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_javascript %}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script>
    const typed = new Typed('.typed', {
        strings: [
            '<i class="mascota">horario de contratación</i>',
            '<i class="mascota">disponibilidad de salones</i>',
            '<i class="mascota">materias disponibles</i>'
        ],
        //stringsElement: '#cadenas-texto', // ID del elemento que contiene cadenas de texto a mostrar.
        typeSpeed: 75, // Velocidad en mlisegundos para poner una letra,
        startDelay: 300, // Tiempo de retraso en iniciar la animacion. Aplica tambien cuando termina y vuelve a iniciar,
        backSpeed: 60, // Velocidad en milisegundos para borrrar una letra,
        smartBackspace: true, // Eliminar solamente las palabras que sean nuevas en una cadena de texto.
        shuffle: false, // Alterar el orden en el que escribe las palabras.
        backDelay: 1500, // Tiempo de espera despues de que termina de escribir una palabra.
        loop: true, // Repetir el array de strings
        loopCount: false, // Cantidad de veces a repetir el array.  false = infinite
        showCursor: true, // Mostrar cursor palpitanto
        cursorChar: '|', // Caracter para el cursor
        contentType: 'html', // 'html' o 'null' para texto sin formato
    });
</script>

{% endblock%}