:root {
    --color-principal:linear-gradient(120deg, #a4ddf6, #95d4fa, #8acefd);
    --color-principal-hover:#21927a;
    --color-principal-font:#ffffff;
    --p-lightgrey-4: #dbdbdb; 
}

.rounded {
    background: #ffffff !important;
    border-style: solid !important;
    border-color: #12243694 !important;
    border: none;
    border-radius: 25px 100px !important;
    color: rgb(47, 47, 47);
    padding: 3rem 1.25rem 2rem 1.25rem;
}

.rounded2 {
    background: #ffffff !important;
    border-style: solid !important;
    border-color: #12243694 !important;
    border: none;
    border-radius: 25px 25px !important;
    color: rgb(47, 47, 47);
    padding: 3rem 1.25rem 2rem 1.25rem;
}

/**************************************/
/* BOTONES
/***************************************/
.projectapp-button{
    border: 0px solid;
    border-radius: 30px;
    padding: 0.7rem 2rem !important;
    margin-right: 10px;
    box-shadow: 0 0 20px 1px #e5e5e5;
    width: 150px;
    height: 45px;
}

.hover-principal:hover,
.hover-principal:active,
.hover-principal:focus {
    background: var(--color-principal-hover) !important;
    color: rgb(238, 238, 238) !important;
}

.color-principal{
    background: var(--color-principal);
    color: var(--color-principal-font);
}

.p-shadow-sm {
    box-shadow: 1.5rem 1.5rem 0.8rem var(--p-lightgrey-4) !important;
}
